.title--1 {
  font-size: 1.6rem;
  font-weight: lighter;
  letter-spacing: 1px;
  background: #6d02b4;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 20px #111111c2;
  pointer-events: none;
}

.avatars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  overflow-x: auto;
  overflow-y: visible;
  max-width: 100%;
  z-index: 1;
}

.avatarBox {
  cursor: pointer;
  margin: 0 3px;
  padding: 8px 15px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  transition: transform 350ms ease;
  text-align: center;
}

.avatarBox:nth-child(3) {
  transform: translateY(-8px) !important;
  background: #481ab29d !important;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px #111111;
  z-index: 1;
}

.avatarBox:hover {
  transform: translateY(-8px) !important;
  background: #481ab29d !important;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px #111111;
  z-index: 1;
}

.chatbot--avatar {
  width: 125px;
  border-radius: 50%;
  pointer-events: none;
}

.avatarTitle {
  margin: 15px auto;
  padding: 5px 10px;
}

.ChatBox {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: 0px 0px 10px #111111;
  text-align: start;
}

.chat {
  background: #f2f2f2;
  color: #000000;
  width: fit-content;
  max-width: 75vw;
  padding: 5px;
  border-radius: 3px;
  margin: 8px 0;
}

.ChatBox--btns {
  text-align: center;
}

.ChatBox--btns > .btn {
  background: #485fff;
  color: white;
  padding: 6px 20px;
  font-size: 1.3rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin: 10px 5px;
  cursor: pointer;
}

.ChatBox--btns > .btn:hover {
  background: #4860ffc2;
}
